body {
    background-color: #f6f6f6;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    /* margin-right: 25%;
    margin-left: 25%; */
}

h1 {
    font-family: 'Roboto Slab', serif;
}

.title {
    font-family: 'Roboto Slab', serif;
    color: firebrick;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    text-decoration-style: double;
    color: inherit;
}

img {
    border-radius: 50%;
}

.banner {
    background-image: url("https://images.unsplash.com/photo-1463288889890-a56b2853c40f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 1.5rem;
}

.card {
    background-color: white;
    box-shadow: 3px 3px 30px darkslategrey;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.btn {
    width: 350px;
    margin: 0 auto;
    background-color: firebrick;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4fda8e;
}

.btn a {
    text-decoration: none;
    text-transform: uppercase;
}

.socials {
    padding: 20px;
    font-size: 2rem;
    letter-spacing: 1rem;
}

@media (max-width: 850px) {
    body {
        font-size: 0.7rem;
    }
    .card {
        font-size: 0.7rem;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .socials {
        font-size: 1rem;
    }

    .btn {
        width: 250px;
    }
}